{% extends 'pokapp/base.html' %}
{% block content %}
<form action="." method="POST"> 
  {% csrf_token %}
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" name="name" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Especie</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3" name="specie" placeholder="Especie">
          </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Tipo</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" name="tipo" placeholder="Tipo">
            </div>
          </div>
          <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Descripcion</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" name="description" placeholder="Descripción">
              </div>
            </div>
        <div class="form-group row">
            <label for="inputPassword4" class="col-sm-2 col-form-label">Url Imagen</label>
            <div class="col-sm-10">
              <input type="url" class="form-control" id="inputPassword4" name="photo" placeholder="url">
            </div>
          </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-primary" href="{% url 'lista_pokemon' %}">Cancelar</a>
          </div>
        </div>
      </form>
{% endblock %}