{% extends 'pokapp/base.html' %}
{% block content %}
<div class="button mb-3">
  <a class="btn btn-dark" href="{% url 'crear_pokemon' %}">Nuevo Pokemon</a>
</div>
<table class="table table-bordered">
  <thead>
    <tr class="files">
      <th scope="col">Nombre</th>
      <th scope="col">Especie</th>
      <!--<th scope="col">Tipo</th>
      <th scope="col">Descripcion</th>-->
      <th scope="col" class="ima">Imagen</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for pokemon in pokemon_list %}
    <tr>
      <td class="d-align-items-center">{{pokemon.name}}</td>
      <td>{{pokemon.specie}}</td>
      <!--<td class="tipo">{{pokemon.tipo}}</td>
      <td class="texto">{{pokemon.description}}</td>-->
      <td class="celda" ><img src="{{pokemon.photo}}" alt="{{pokemon.name}}" class="photo"/></td>
      <td class="botones">
        <a href="{% url 'editar_pokemon' pk=pokemon.pk %}" class="btn btn-success mr-3 "><i class="far fa-edit"></i></a >
        <a href="#" class="btn btn-danger mr-3 " data-name="{{pokemon.id}}" id="enlac" data-toggle="modal" data-target="#exampleModal{{pokemon.id}}"><i class="far fa-trash-alt"></i></i></a >
        <a href="#" class="btn btn-primary" data-name="{{pokemon.id}}" id="detail" data-toggle="modal" data-target="#detailModal{{pokemon.id}}"><i class="far fa-eye"></i></i></a >
          </td>
    </tr>
    <!-- Modal Eliminar-->
<div class="modal fade" id="exampleModal{{pokemon.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Pokemon</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Desea eliminar este pokemon?
        </div>
        <div class="modal-footer">
          <button id="accept{{pokemon.id}}" type="button" data-id="{{pokemon.id}}" class="btn btn-primary">Aceptar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Detalles-->
<div class="modal fade" id="detailModal{{pokemon.id}}" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailModalLabel">DETALLES DEL POKEMON</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <div class="ima-modal"> <img src="{{pokemon.photo}}" alt="{{pokemon.name}}" class="photo"></div>
            <p><span class="nom" >Nombre:</span> {{pokemon.name}}</p>
            <p><span class="nom" >Especie:</span> {{pokemon.specie}}</p>
            <p><span class="nom" >Tipo:</span> {{pokemon.tipo}}</p>
            <p><span class="nom" >Descripción:</span> {{pokemon.description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <script>
      $("#accept{{pokemon.id}}").click(function(){
        var idpokemon = "{{pokemon.id}}";
        var myurl = "{% url 'borrar_pokemon' %}";
        var token = "{{csrf_token}}";
        $.ajax({
          headers:{
            'X-CSRFToken': token
          },
          url: myurl,
          type: 'POST',
          data: {
            'id': idpokemon
           },
          success: function(msg){
            if(msg=='Ok') {
             location.reload();
            }
            else{
             console.log(msg);
            }

          }
        });
      });
  </script>
  {% endfor %}
  </tbody>
</table>
{% endblock %}